.cart{
    background-color: yellow;
    border: 3px solid black;
}
.buy{
    background-color: orange;
    margin-left: 20px;
    border: 3px solid black;
}

.arr{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 equal rows */
    gap: 10px;
}

body{
    width: 50%;
    background-color: black;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-weight: bold;
    background-color: darkgrey;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.colourChange{
    background-color: orange;
}
.Clear{
    font-size: 1rem;
}

div{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 20px;
}