

.calculateButton{
    background-color: green;
    color: white;
    border: none;
    /* font-size: 1rem; */
    padding: 0.18rem;
    width: 100px;
    margin-left: 15px;
}

.first_button{
    background-color: aqua;
    color: antiquewhite;
}

.subscribeButton{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    /* padding: 0.5rem; */
    font-size: 1.5rem;
    width: 200px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}
.subscribedButton{
    background-color: green;
    color: white;
}
section{
    display: flex;
}
.rpsHeader{
    color: white;
}


.backgroundRPS{
    background-color: black;
    text-align: center;
    margin-top: 200px;
    
}

.resetButton{
    padding: 5px;
    font-weight: bold;
}

.gesture{
    font-size: 5rem;
    margin: 15px;
    background-color: black;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.result{
    color: white;
    font-size: 1rem;
}

/* .goals{
    display: inline;
}
.dates{
    display: inline;
} */

.container1{
    display: flex;
    gap: 10px;
}

.addButton{
    background-color: green;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    font-weight: bold;
    margin-left: 10px;
}
.js-dueDate{
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    margin-right: 15px;
    margin-left: 10px;
}

.js-name-input{
   padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    width: 200px;
}

.js-todo-list{
    display: grid;
    grid-template-columns: 230px 150px 90px;
    margin-left: 10px;
    margin-top: 20px;
    row-gap: 20px;
    word-wrap: break-word;
    
}
.deleteButton{
    background-color: darkred;
    color: white;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    font-weight: bold;

}
.dateclass{
    margin-left: 30px;
}