*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Go to the website grid garden to learn practise grid layout with a fun game: */

body{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 75px auto 75px;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd"
                         "mn mn mn mn mn mn mn sb sb"
                         "ft ft ft ft ft ft ft ft ft";
    gap: 1rem;
}


.el{
    background-color: purple;
    color: white;
    display: grid;
    align-content: center;
    
    justify-content: center;
}


.header{
    grid-area: hd;
}

.sidebar{
    grid-area: sb;
    background-color: blue;
}

.footer{
    grid-area: ft;

}


.container{
    grid-area: mn;
    display: grid; /* Makes the container a grid layout */
    /* grid-auto-flow: column; */ /* Places items in columns automatically */
    grid-template-columns: 200px 100px 200px; /* Defines three columns with specified widths */
    /* grid-template-columns: 2fr 1fr 1fr; */ /* Defines three columns with specified widths */
    
    /* If your grid has more items than defined columns, the extra items will automatically start flowing into new rows, not new columns. */
    grid-template-columns: repeat(2, 1fr 2fr); /* Take the pattern “1fr 2fr” and repeat it 2 times. */
    
    grid-auto-rows: minmax(15px, 300px); /* Sets the height of automatically created rows to a minimum of 15px and a maximum of 300px */
    row-gap: 1rem; /* Adds space between rows */
    column-gap: 2rem; /* Adds space between columns */
    gap: 1rem 2rem; /* Shorthand for row-gap and column-gap */
}

.box{
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    display: grid;
    align-content: center; /* Centers content vertically within the box */
    justify-content: center; /* Centers content horizontally within the box */
    
}
.box:first-child{
    background-color:blue;
    
    grid-column-start: 1; /* Starts at the first column */
    grid-column-end: 4; /* Ends before the third column */
    grid-column: 1/4; /* Shorthand for grid-column-start and grid-column-end */
    
    grid-row-start: 1; /* Starts at the first row */
    grid-row-end: 3; /* Ends before the third row */
    grid-row: 1/3; /* Shorthand for grid-row-start and grid-row-end */

}

.box:nth-child(2){
    background-color: red;
    grid-column: 1 / 5; /* Starts at the second column and spans 2 columns */
    grid-row: 3 / 4; /* Starts at the third row and spans 2 rows */
}