*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --HEADER-BGCOLOR: #333;
    --HEADER-COLOR: whitesmoke;
    
}

html{
    font-size: 1.5rem;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column  nowrap;
}

header{
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
}

.header_title_line{
    padding: 0.25rem 0.5rem ;
    display: flex;
    flex-flow: row nowrap; /* Arrange items in a horizontal row and prevent them from wrapping to the next line */
    justify-content: space-between;
}

.menu_button{
    align-items: center;
    border: none;
    color: yellow;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
   background-color: green;

}


.menu-icon, .menu-icon::before, .menu-icon::after{
    background-color: var(--HEADER-COLOR);
    height: 5px;
    width: 40px;
    border-radius: 5px;
    
}

.menu-icon{
    position: relative;
}

.menu-icon::before, .menu-icon::after{
    content: '';
    position: absolute;
    
}
.menu-icon::before{
    transform: translate(-20px, -12px);
    
}
.menu-icon::after{
    transform: translate(-20px, 12px);

}


nav{
    display: none;
    transform-origin: top center;
    animation: showMenu 0.4s ease-in-out forwards;
}

:is(header:hover, header:focus-within)  .menu-icon{
    background-color: transparent; /* this hides the middle line */
}
:is(header:hover, header:focus-within)  .menu-icon::before{
    transform: translateX(-20px) rotate(45deg);
}
:is(header:hover, header:focus-within)  .menu-icon::after{
    transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within)  nav{
    display: block;
}







@keyframes showMenu{
    0%{
        transform: scaleY(0);
        
    }
    80%{
        transform: scaleY(1.2);
        /* opacity: 1; */
    }
    100%{
        transform: scaleY(1);
    }
}

/* nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
} */

nav li{
    padding: 0.5rem;
    border-top: 1px solid var(--HEADER-COLOR);
}

nav a{
    display: block;
    text-align: center;
    /* width: 80%;
    margin: auto; */
}

a:any-link{
    text-decoration: none;
    color: var(--HEADER-COLOR);
    font-weight: bold;
}       

a:hover, a:focus{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}