<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
<ul>
  <li><a href="{% url 'registration' %}">Register Users</a></li>
  <li><a href="{% url 'change_password' %}">Change Password</a></li>
  <li><a href="{% url 'student_approval' %}">Student Approvals</a></li>
  <li><a href="{% url 'teacher_approval' %}">Teacher Approvals</a></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

</body>
</html>