<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


    <form method="post">
        {% csrf_token %}

        <p><strong>Security Question:</strong> {{ question }}</p>

        {{ form.as_p }}

        <button type="submit">Verify Answer</button>
    </form>

    <div class="back-link">
        <a href="{% url request.session.current_role|lower %}">Back to Dashboard</a>
    </div>
</body>
</html>
