<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change the Security Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h2>Change Security Question:</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Answer</button>
    </form>

    <div class="back-link">
        <a href="{% url request.session.current_role|lower %}">Back to Dashboard</a>
    </div>

</body>
</html>
